.main-container{
    max-width: 1200px;
    height: 100px ;
    margin-left: 320px;
    margin-right: 56px;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 16px;
    margin: 08px 0px 8px 0;
    border-radius: 8px;
    background-color: rgb(34, 33, 33);
    width: calc(100vw - 390px);
}
.header-navigation .navigation{
    flex-direction: column;
}
.menu-navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-right, .arrow-left{
    filter: invert(50%);
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.arrow-right{
    margin-right: 40px;
}
.header-navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}
.header_login{
    display: flex;
    align-items: center;
}
.header_search{
display: flex;
align-items: center;
width: 600px;
height: 28px;
margin-left: 8px;
border-radius: 500px;
border: 1px solid transparent;
}
.header_search input{
    width: 600px;
    border-radius: 500px;
    border: none;
    height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    padding: 0 100px 0 45px;
    font-size: 14px;
    background-color: rgb(17, 17, 17);
    margin-right: 27px;
    cursor:help;
    color: aliceblue;
}
.header_search img{
    margin-right: -30px;
    filter: invert(40%);
    width: 16px;
    height: 16px;
    align-content: center;
    opacity: 60%;
    margin-left: 10px;
}
#search-input::placeholder{
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header_login .subscribe{
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
    cursor: pointer;
}
.header_login .subscribe:hover{
    color:white;
}
.header_login .login{
 width: 100px;
 height: 48px;
 color: #000;
 font-size: 16px;
 font-weight: 700;
 border-radius: 40px; 
 border: none;  
 cursor: pointer;
}
.header_login .login:hover{
    background-color: #a7a7a7;
}
.body-navigation{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 0px 15px 0;
    padding: 10px 2px 0 10px;
    border-radius: 8px;
    background-color: rgb(34, 33, 33);  
}
.body-navigation .title{
    font-size: 36px;
    color: #a7a7a7;
    margin-top: 15px;
}
.body-navigation .sub-title{
    font-size: 20px;
    margin-top: 30px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    width: 160px;
    height: 220px;
    border: none;
    margin: 10px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(17,17,17) ;
    cursor: pointer;
  }
  .card:hover{
    background-color: #831313;
    transition-duration: 1s;
  }
  .area-card{
    width: 140px;
    height: 200px;
    border: none;
    margin: 10px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
}
.card .area-img{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.card img{
    width: 120px;
    height: 120px;
    border-radius: 9px ;
    margin-bottom: 10px;
    
  }
  .card-container .card .area-text1 {
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 8px;
}
  .card-container .card .area-text2{
    font-size: 12px;
    font-weight: 100;
    color: #a7a7a7;
    margin-bottom: 8px;
    padding-left: 10px;
    width: 120px;
  }
  .artist {
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width: 372px;
  }
  
  .hidden {
    display: none;
  }
  
  .grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
  }
  
  .artist-card {
    background: #181818;
    border-radius: 8px;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 300px;
  }
  
  .artist-card:hover {
    background-color: #252525;
  }
  
  .card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
  }
  
  .card-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 62px;
  }
  
  .card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .artist-name {
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
  }
  
  .artist-categorie {
    color: #6a6a6a;
    font-weight: 400;
    font-size: 0.875rem;
  }
  
  .play {
    position: relative;
  }
  
  .play .fa-play {
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .play .fa-play:hover {
    padding: 20px;
    cursor: pointer;
  }
  
  #result-artist {
    padding: 20px 40px;
  }
  